div.pepoCardSale {
border: rgb(66, 240, 81) 2px solid!important;
}

div.pepoCardOrdinary {
  border: rgb(169, 177, 170) 2px solid!important;
}

span.itemCount {
  font-size: large;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.pagColor {
  background-color: rgb(79, 80, 79);
  color: white
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

a {
  outline:none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}

.btn-primary,.btn-primary:visited {
  background-color: rgb(90, 65, 129)!important;
  border-color: #5A4181!important;
  outline: none;
}

.btn-primary:hover, .btn-primary:active {
  background-color:rgb(156, 53, 197)!important;
  border-color: rgb(156, 53, 197)!important;
  outline: none;
}

.nav {
  font-family: 'Kanit';
}